<main>
    
    <h1>Hello Admin</h1>
    
    <a href="admin/create/city">

        <button>Create a City</button>
    
    </a>

    <h1>Create hospital in a city:</h1>

    {{#if error}}
        <p>{{error}}</p>
    {{/if}}

    {{#each cities}}
        <a href="admin/create/hospital/{{this.cityName}}">

            <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">{{this.cityName}}</h4>
            </div>

        </a>
        

            {{else}}
                <h3 class="text-center">No cities...</h3>
            {{/each}} 
    
</main>